@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

html {
    font-family: "Urbanist", sans-serif;
    background: #eaeced;
    scroll-behavior: smooth;
}

.btn {
    box-shadow: 0px 0px 1px #808080cc;
}

.hero-banner {
    background-image: url("./assets/banner/banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}